@import "./tailwind.scss";
@import "./transition.scss";
@import "./scroll.scss";
@import "./projects.scss";
@import "./about.scss";
@import "./solware.scss";
@import "./proxinnov.scss";
@import "./bryte.scss";
@import "./agori.scss";
@import "./artdam.scss";
@import "./opteven.scss";

body {
  @apply bg-[#DBDAD8];
  .main {
    ul.transition {
      @apply flex absolute z-[100] h-[100vh] w-full top-0 left-0 m-0 pointer-events-none;
  
      li {
        @apply transform scale-y-0 bg-white w-[20%];
      }
    }
    #container {
      @apply w-full h-full fixed top-0 left-0 z-[-1];
  
      section {
        &.introduction {
          h1 {
            @apply stroke-[1px] lg:stroke-[3px];
            stroke-color: black;
          }
        }
        &.networks {
          .link {
            height: 30px;
            align-items: center;
            color: #000;
            text-decoration: none;
            display: flex;
    
            .mask {
              position: relative;
              padding: 0;
              height: 20px;
    
              overflow: hidden;
            }
          }
    
          .link-container {
            transition: transform 0.4s ease;
          }
    
          .title {
            display: block;
    
            /*  Set same font-size and line height  */
            font-size: 15px;
    
            transition: transform 0.4s ease;
          }
    
          .link-title1 {
            transform-origin: right center;
          }
    
          .link-title2 {
            transform-origin: left center;
            transform: rotate(20deg);
          }
    
          .link-icon {
            position: relative;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
    
            /*  Remove overflow to see how it works　:) */
            overflow: hidden;
            rotate: 45deg;
          }
    
          .icon {
            display: block;
            position: absolute;
            transition: transform 0.4s ease;
            transform: rotate(45deg);
            rotate: -35deg;
            
            &.safari {
              -webkit-transform: rotate(0deg); /* Préfixe pour Safari */
            }
          }
    
          .icon:nth-child(2) {
            transform: translate(-40px);
            rotate: -45deg;
          }
    
          /* Hover Action*/
    
          /* Move up two texts (20px = font-size) */
          .link:hover .link-container {
            transform: translateY(-20px);
          }
    
          /* Rotate texts a little bit */
          .link:hover .link-title1 {
            transform: rotate(20deg);
          }
    
          .link:hover .link-title2 {
            transform: rotate(0);
          }
    
          /* Move arrows to right */
          .link:hover .icon:first-child {
            transform: translate(40px);
          }
    
          .link:hover .icon:nth-child(2) {
            transform: translate(0px);
          }
        }
        &.btn-projects {
          .link {
            height: 30px;
            align-items: center;
            color: #000;
            text-decoration: none;
            display: flex;
    
            .mask {
              position: relative;
              padding: 0;
              height: 20px;
    
              overflow: hidden;
            }
          }
    
          .link-container {
            transition: transform 0.4s ease;
          }
    
          .title {
            display: block;
    
            /*  Set same font-size and line height  */
            font-size: 20px;
            line-height: 20px;
    
            transition: transform 0.4s ease;
          }
    
          .link-title1 {
            transform-origin: right center;
          }
    
          .link-title2 {
            transform-origin: left center;
            transform: rotate(20deg);
          }
    
          .link-icon {
            position: relative;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
    
            /*  Remove overflow to see how it works　:) */
            overflow: hidden;
            rotate: 45deg;
          }
    
          .icon {
            display: block;
            position: absolute;
            transition: transform 0.4s ease;
            transform: rotate(45deg);
            rotate: -35deg;
            
            &.safari {
              -webkit-transform: rotate(0deg); /* Préfixe pour Safari */
            }
          }
    
          .icon:nth-child(2) {
            transform: translate(-40px);
            rotate: -45deg;
          }
    
          /* Hover Action*/
    
          /* Move up two texts (20px = font-size) */
          .link:hover .link-container {
            transform: translateY(-20px);
          }
    
          /* Rotate texts a little bit */
          .link:hover .link-title1 {
            transform: rotate(20deg);
          }
    
          .link:hover .link-title2 {
            transform: rotate(0);
          }
    
          /* Move arrows to right */
          .link:hover .icon:first-child {
            transform: translate(40px);
          }
    
          .link:hover .icon:nth-child(2) {
            transform: translate(0px);
          }
        }
      }
    }
  }
}
